



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" />


	<p></p>

	<p></p>

	<p></p>

	<p></p>


<table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Action</th>
                <th>Result</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            <tr>
				
                <td>1</td>
				
				
				
				<td>Залогиниться на сайте http://essay-lancers-dev.demo.gns-it.com</td>
				</tr>
				
                <td>2</td>
				
				
				
				<td>Ввести логин</td>
				</tr>
				
                <td>3</td>
				
				
				
				<td>Ввести пароль</td>
				</tr>
				
                <td>4</td>
				
				
				
				<td>Нажать на кнопку Login</td>
				</tr>
				
                <td>System Architect</td>
                <td>Edinburgh</td>

            </tr>
    </table>